$menuFontColor: #CFB57D;

$floatIconStrokeColor: #E9D418;
$floatIconFillColor: #E9D418;
$floatButtonBackground: #202020;

$takePictureFrame: #EDB506;

$colorTypeOnStreet: #FFC917;
$colorTypeLost: #A80101;
$colorTypeCasual: #008604;
$colorTypeAccident: #2D0000;

.main{
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 750px;
    top: 0;
    left: 0;
    overflow: hidden;

    .page-content{
        z-index: 10;
        width: 100%;
        height: 100%;
        position: relative;

        .toolbar-content{
            background-color: #F6C708;
        }
    
        .map-content{
            position: relative;
            height: 100%;
    
            #map {
                z-index: 3;
                height: 100%;

                &.spotlight{
                    z-index: 10;
                }
            }
    
            .controls {
                z-index: 3;
                position: absolute;
                top: 10px;
                left: 10px;
                background: white;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
            }
    
            .buttons-content{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                pointer-events: none;
    
                .blur-background{
                    position: absolute;
                    z-index: 5;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
    
                    backdrop-filter: blur(5px);
                    pointer-events: none;
    
                    &.hidden{
                        display: none;
                        pointer-events: all;
                    }

                    &.spotlight{
                        z-index: 11;
                    }
                }
    
                .down-container{
                    position: absolute;
                    width: 100%;
                    bottom: 0;

                }
            }
        }
    }

    .popup-content{

        app-popup-content{
            display: flex;
            z-index: 99;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
    
            top: 0;
            left: 0; 
        }

        &.hidden{
            display: none;
        }
    }
}