<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<div class="main">
    <div class="page-content">
      <div class="map-content">
        <div id="map" #map>
        </div>
        <div class="buttons-content">
          <div #blurBackground class="blur-background hidden"></div>
          <div class="down-container">
            <app-float-buttons [blurBackground]="blurBackground" (camButtonClicked)="showPopup()" (trackButtonClicked)="setMapToUser()"></app-float-buttons>
          </div>
        </div>
      </div>
    </div>
    <div class="popup-content hidden" #popupContent>
        <app-popup-content 
        [popupContent]="popupContent"
        [map]="map"
        ></app-popup-content>
    </div>
</div>