@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
}

.main {
  position: absolute;
  height: 100vh;
  width: 100%;
  max-width: 750px;
  top: 0;
  left: 0;
  overflow: hidden;
}
.main .page-content {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: relative;
}
.main .page-content .toolbar-content {
  background-color: #F6C708;
}
.main .page-content .map-content {
  position: relative;
  height: 100%;
}
.main .page-content .map-content #map {
  z-index: 3;
  height: 100%;
}
.main .page-content .map-content #map.spotlight {
  z-index: 10;
}
.main .page-content .map-content .controls {
  z-index: 3;
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.main .page-content .map-content .buttons-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.main .page-content .map-content .buttons-content .blur-background {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  pointer-events: none;
}
.main .page-content .map-content .buttons-content .blur-background.hidden {
  display: none;
  pointer-events: all;
}
.main .page-content .map-content .buttons-content .blur-background.spotlight {
  z-index: 11;
}
.main .page-content .map-content .buttons-content .down-container {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;
  margin-bottom: 1em;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .float-camera-container {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 1em;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .float-camera-container .float-camera-content .float-camera-button {
  width: 5em;
  aspect-ratio: 1;
  padding: 0.5em;
  background: #202020;
  border: none;
  border-radius: 100%;
  pointer-events: all;
  cursor: pointer;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .float-camera-container .float-camera-content .float-camera-button svg {
  fill: none;
  stroke: #E9D418;
  stroke-width: 1.5;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .alt-buttons-container {
  z-index: 6;
  position: absolute;
  width: 300px;
  height: 185px;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .alt-buttons-container .alt-button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  width: fit-content;
  transition: 0.3s;
  color: #202020;
  font-weight: 300;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .alt-buttons-container .alt-button-container .alt-button {
  width: 4.5em;
  aspect-ratio: 1;
  padding: 0.5em;
  flex-shrink: 0;
  background: #202020;
  border: none;
  border-radius: 100%;
  pointer-events: all;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .alt-buttons-container .alt-button-container .alt-button svg {
  fill: none;
  stroke: #E9D418;
  stroke-width: 1.5;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .alt-buttons-container .alt-button-container span {
  margin-top: 0.5em;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .alt-buttons-container .alt-button-container.left-bottom-container {
  bottom: 0;
  left: 0;
  top: auto;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .alt-buttons-container .alt-button-container.left-top-container {
  top: 0;
  left: 4em;
  bottom: auto;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .alt-buttons-container .alt-button-container.right-top-container {
  top: 0;
  right: 4em;
  bottom: auto;
  left: 61%;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .alt-buttons-container .alt-button-container.right-bottom-container {
  bottom: 0;
  right: 0;
  top: auto;
  left: 78%;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .alt-buttons-container .alt-button-container.initial {
  top: 100px;
  bottom: inherit;
  right: inherit;
  left: 40%;
  transform: scale(0.3);
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .main-button-container {
  z-index: 6;
  flex-shrink: 0;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .main-button-container .main-button-content .menu-main-button {
  width: 6em;
  aspect-ratio: 1;
  padding: 1em;
  padding-left: 1.2em;
  background: #202020;
  transition: 1s;
  border: none;
  border-radius: 100%;
  pointer-events: all;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .main-button-container .main-button-content .menu-main-button svg {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  pointer-events: none;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .main-button-container .main-button-content .menu-main-button svg .st0 {
  fill: #E9D418;
}
.main .page-content .map-content .buttons-content .down-container .float-buttons-container .main-button-container .main-button-content .menu-main-button svg.onfocus {
  z-index: 5;
  transform: rotateZ(-23deg);
}
.main .page-content .menu-content {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  bottom: -180px;
  transition: bottom 0.3s ease;
  background: #2F1916;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.main .page-content .menu-content .menu-page {
  width: 100%;
  height: 300px;
}
.main .page-content .menu-content .menu-page .draggable-indicator-content {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
}
.main .page-content .menu-content .menu-page .draggable-indicator-content hr {
  width: 64px;
  height: 4px;
  background: gray;
  border: none;
  border-radius: 5px;
}
.main .page-content .menu-content .menu-page .options-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 1em;
}
.main .page-content .menu-content .menu-page .options-container .option-content {
  width: 100%;
  margin-bottom: 1em;
}
.main .page-content .menu-content .menu-page .options-container .option-content:hover {
  background-color: #CFB57D;
}
.main .page-content .menu-content .menu-page .options-container .option-content .wrapper {
  display: inline-flex;
  align-items: center;
}
.main .page-content .menu-content .menu-page .options-container .option-content .wrapper .icon-content {
  margin-right: 2em;
  width: 32px;
  height: 32px;
}
.main .page-content .menu-content .menu-page .options-container .option-content .wrapper .icon-content svg {
  width: 100%;
  height: 100%;
  stroke: #CFB57D;
  fill: none;
}
.main .page-content .menu-content .menu-page .options-container .option-content .wrapper .text-content {
  color: #CFB57D;
  font-size: 20px;
}
.main .popup-content {
  display: flex;
  z-index: 99;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.main .popup-content .back-button-content {
  z-index: 99;
  position: absolute;
  top: 1em;
  left: 1em;
}
.main .popup-content .back-button-content .back-button-container .back-button {
  width: 4.5em;
  aspect-ratio: 1;
  background: #ffffff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
.main .popup-content .back-button-content .back-button-container .back-button svg {
  width: 100%;
  height: 100%;
}
.main .popup-content .back-button-content .back-button-container .back-button svg path {
  fill: #EDB506;
}
.main .popup-content .back-button-content .back-button-container .back-button.hidden {
  display: none;
}
.main .popup-content .popup-page {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main .popup-content .popup-page .camera-content .camera-container {
  position: relative;
  /*
  #photo {
      position: relative;
      display: inline-block;
      object-fit: cover;
      width: 300px;
      height: 300px;
      margin-bottom: 10px;

      border-radius: 50%;
      overflow: hidden;


  }
      */
}
.main .popup-content .popup-page .camera-content .camera-container .video-content {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}
.main .popup-content .popup-page .camera-content .camera-container .video-content .video-frame {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  width: 120%;
  max-width: 500px;
  aspect-ratio: 1;
  margin-top: 1em;
}
.main .popup-content .popup-page .camera-content .camera-container .video-content .video-frame .video-container {
  position: absolute;
  z-index: 4;
  width: 70%;
  aspect-ratio: 1;
  top: 1em;
  border-radius: 50%;
  overflow: hidden;
}
.main .popup-content .popup-page .camera-content .camera-container .video-content .video-frame .video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.main .popup-content .popup-page .camera-content .camera-container .switch-camera-content {
  z-index: 3;
  position: absolute;
  top: 2em;
  right: 3em;
}
.main .popup-content .popup-page .camera-content .camera-container .switch-camera-content .switch-camera-container .switch-camera-button {
  width: 5.5em;
  aspect-ratio: 1;
  padding: 0.5em;
  background: #202020;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
.main .popup-content .popup-page .camera-content .camera-container .switch-camera-content .switch-camera-container .switch-camera-button svg {
  width: 100%;
  height: 100%;
}
.main .popup-content .popup-page .camera-content .camera-container .switch-camera-content .switch-camera-container .switch-camera-button path {
  fill: #ffffff;
}
.main .popup-content .popup-page .camera-content.hidden {
  display: none;
}
.main .popup-content .popup-page .take-picture-content {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  margin-top: 5em;
}
.main .popup-content .popup-page .take-picture-content .button-frame {
  z-index: 1;
  position: absolute;
  width: 60%;
  aspect-ratio: 1;
  bottom: 0;
  transform: translate(0, 50%);
  border-radius: 100%;
  background-color: #EDB506;
  cursor: pointer;
}
.main .popup-content .popup-page .take-picture-content .take-picture-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.main .popup-content .popup-page .take-picture-content .take-picture-container .take-picture-button {
  position: absolute;
  width: 40%;
  aspect-ratio: 1;
  margin-top: 1em;
  background: none;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
.main .popup-content .popup-page .take-picture-content .take-picture-container .take-picture-button svg {
  width: 100%;
}
.main .popup-content .popup-page .take-picture-content .take-picture-container .take-picture-button svg path {
  fill: #ffffff;
}
.main .popup-content .popup-page .take-picture-content.hidden {
  display: none;
}
.main .popup-content .popup-page.first-step {
  z-index: 10;
}
.main .popup-content .popup-page.second-step {
  display: flex;
  flex-direction: column;
  z-index: 11;
  justify-content: center;
  width: 80%;
}
.main .popup-content .popup-page.second-step .taken-picture-content {
  padding: 0.5em;
  border: solid #202020 3px;
  border-radius: 100%;
}
.main .popup-content .popup-page.second-step .taken-picture-content .taken-picture-container {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 100%;
  overflow: hidden;
  background-color: red;
}
.main .popup-content .popup-page.second-step .taken-picture-content .taken-picture-container img {
  position: relative;
  display: inline-block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.main .popup-content .popup-page.second-step .divisor {
  height: 10em;
}
.main .popup-content .popup-page.second-step .buttons-content .buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .popup-content .popup-page.second-step .buttons-content .buttons-container .button-container {
  width: 100%;
}
.main .popup-content .popup-page.second-step .buttons-content .buttons-container .button-container .second-step-button {
  width: 100%;
  padding: 1em;
  font-size: 21px;
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 10px;
}
.main .popup-content .popup-page.second-step .buttons-content .buttons-container .button-container .second-step-button.next-button {
  margin-bottom: 1em;
  background: #EDB506;
}
.main .popup-content .popup-page.second-step .buttons-content .buttons-container .button-container .second-step-button.try-button {
  background: #202020;
}
.main .popup-content .popup-page.third-step {
  z-index: 12;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3em;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
}
.main .popup-content .popup-page.third-step .background-content {
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  height: 0;
  pointer-events: none;
}
.main .popup-content .popup-page.third-step .background-content .background-wrapper {
  width: 100%;
  height: 100%;
}
.main .popup-content .popup-page.third-step .background-content .background-wrapper .background-asset {
  position: absolute;
  width: 315px;
  aspect-ratio: 1;
}
.main .popup-content .popup-page.third-step .background-content .background-wrapper .background-asset.right-top {
  top: -5em;
  right: -8em;
}
.main .popup-content .popup-page.third-step .background-content .background-wrapper .background-asset.left-bottom {
  bottom: -7em;
  left: -8em;
  transform: rotateY(-180deg) rotateZ(70deg);
}
.main .popup-content .popup-page.third-step .background-content .background-wrapper img {
  width: 100%;
  height: 100%;
}
.main .popup-content .popup-page.third-step .first-line-row {
  z-index: 3;
  position: relative;
  display: inline-flex;
}
.main .popup-content .popup-page.third-step .first-line-row .taken-picture-content {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 50%;
  margin-left: 1em;
}
.main .popup-content .popup-page.third-step .first-line-row .taken-picture-content .picture-frame {
  padding: 0.5em;
  border-radius: 100%;
  background-size: cover;
  background-image: url(../../images/background_asset/map_bg_model.png);
}
.main .popup-content .popup-page.third-step .first-line-row .taken-picture-content .picture-frame svg {
  width: 100%;
  height: 100%;
}
.main .popup-content .popup-page.third-step .first-line-row .taken-picture-content .picture-frame svg path {
  fill: gray;
}
.main .popup-content .popup-page.third-step .first-line-row .taken-picture-content .taken-picture-container {
  position: absolute;
  z-index: 2;
  width: 68%;
  max-width: 226px;
  aspect-ratio: 1;
  top: 1em;
  border-radius: 100%;
  overflow: hidden;
  background-color: red;
}
.main .popup-content .popup-page.third-step .first-line-row .taken-picture-content .taken-picture-container img {
  position: relative;
  display: inline-block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content {
  z-index: 2;
  position: relative;
  width: 30%;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content {
  position: absolute;
  display: flex;
  flex-shrink: 0;
  width: 340px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  bottom: -7em;
  right: -5em;
  pointer-events: none;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: 100%;
  background: #E9D418;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  border: none;
  background: none;
  cursor: pointer;
  pointer-events: all;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option .icon-content {
  width: fit-content;
  pointer-events: none;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option .icon-content svg {
  width: 40px;
  aspect-ratio: 1;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option .text-content {
  pointer-events: none;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option .text-content p {
  text-align: center;
  max-width: 50px;
  font-size: 12px;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option:nth-child(1) {
  top: calc(50% - 134.9991246903px);
  left: calc(50% + -0.4861407775px);
  transform: translate(-50%, -50%);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option:nth-child(2) {
  top: calc(50% - 116.5879885777px);
  left: calc(50% + -68.0605680215px);
  transform: translate(-50%, -50%);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option:nth-child(3) {
  top: calc(50% - 66.7971032185px);
  left: calc(50% + -117.3164396051px);
  transform: translate(-50%, -50%);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option:nth-child(4) {
  top: calc(50% - -0.972275251px);
  left: calc(50% + -134.9964987725px);
  transform: translate(-50%, -50%);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option:nth-child(5) {
  top: calc(50% - -68.4799650685px);
  left: calc(50% + -116.3421436291px);
  transform: translate(-50%, -50%);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option:nth-child(6) {
  top: calc(50% - -117.556218179px);
  left: calc(50% + -66.3742086014px);
  transform: translate(-50%, -50%);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option:nth-child(7) {
  top: calc(50% - -134.9921222807px);
  left: calc(50% + 1.4583971164px);
  transform: translate(-50%, -50%);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option:nth-child(8) {
  top: calc(50% - -116.0947900079px);
  left: calc(50% + 68.8984740979px);
  transform: translate(-50%, -50%);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option:nth-child(9) {
  top: calc(50% - -65.9504532733px);
  left: calc(50% + 117.7944723366px);
  transform: translate(-50%, -50%);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option:nth-child(10) {
  top: calc(50% - 1.94450007px);
  left: calc(50% + 134.9859952717px);
  transform: translate(-50%, -50%);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option:nth-child(11) {
  top: calc(50% - 69.316089683px);
  left: calc(50% + 115.8459309215px);
  transform: translate(-50%, -50%);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container .animal-option:nth-child(12) {
  top: calc(50% - 118.0311989883px);
  left: calc(50% + 65.5258427292px);
  transform: translate(-50%, -50%);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-options-container.hidden {
  margin-left: 2.5em;
  transform: scale(0.1);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-button-container {
  width: fit-content;
  bottom: 0;
  right: 0;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-button-container .choose-animal-button {
  position: relative;
  flex-shrink: 0;
  width: 7em;
  aspect-ratio: 1;
  padding: 0.5em;
  margin-left: 3.5em;
  background: #EDB506;
  transition: 0.3s;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  pointer-events: all;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-button-container .choose-animal-button .display-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-button-container .choose-animal-button .display-content .button-icon {
  width: 50%;
  aspect-ratio: 1;
  padding: 0.5em 0 0 0.5em;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-button-container .choose-animal-button .display-content .button-icon svg {
  width: 100%;
  aspect-ratio: 1;
  transition: 0.3s;
  pointer-events: none;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-button-container .choose-animal-button .display-content .button-icon svg .st0 {
  fill: #202020;
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-button-container .choose-animal-button .display-content .button-icon svg.onfocus {
  z-index: 5;
  transform: rotateZ(-23deg);
}
.main .popup-content .popup-page.third-step .first-line-row .choose-animal-content .choose-animal-options-content .choose-animal-button-container .choose-animal-button .display-content .button-text {
  margin-top: 0.3em;
  font-size: 12px;
  font-weight: 500;
}
.main .popup-content .popup-page.third-step .inputs-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5em 1em 1em 1em;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container {
  width: 100%;
  padding: 0 2em 2em 2em;
  border-radius: 10px;
  background: #ffffff;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content {
  position: relative;
  width: 100%;
  height: 3em;
  margin-bottom: 1.5em;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-title {
  position: absolute;
  top: -10px;
  left: 12px;
  padding: 0 0.5em 0 0.5em;
  background: white;
  user-select: none;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-title p {
  font-size: 14px;
  font-weight: 500;
  color: #EDB506;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border {
  padding: 0.7em 0.2em 0.2em 0.2em;
  border: #EDB506 solid 2px;
  border-radius: 8px;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border textarea {
  width: 100%;
  height: 3em;
  color: #202020;
  resize: none;
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown {
  position: relative;
  width: 100%;
  height: 3em;
  padding: 0;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .frame-title {
  z-index: 1;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .frame-title p {
  font-size: 14px;
  font-weight: 500;
  color: #EDB506;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .dropdown-button {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 0.5em;
  align-items: center;
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  background: none;
  border: none;
  border-radius: 8px;
  background: none;
  cursor: pointer;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .dropdown-button:hover {
  background-color: lightyellow;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .dropdown-content {
  z-index: 2;
  display: none;
  position: absolute;
  flex-direction: column;
  width: 100%;
  font-size: 15px;
  background-color: lightyellow;
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .dropdown-content a {
  display: block;
  padding: 1em;
  text-decoration: none;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .dropdown-content a span {
  display: flex;
  align-items: center;
  color: #202020;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .dropdown-content a:hover {
  background-color: lightgray;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .dropdown-content.show {
  display: flex;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .dropdown-content .color-type {
  width: 10%;
  aspect-ratio: 1;
  flex-shrink: 0;
  margin-right: 1em;
  border-radius: 100%;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .dropdown-content .color-type.street {
  background-color: #FFC917;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .dropdown-content .color-type.lost {
  background-color: #A80101;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .dropdown-content .color-type.casual {
  background-color: #008604;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content .frame-container .frame-border.dropdown .dropdown-content .color-type.accident {
  background-color: #2D0000;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content.pet-description {
  margin-bottom: 2em;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content.pet-description .frame-border textarea {
  height: 3em;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content.extra-description {
  margin-bottom: 3em;
}
.main .popup-content .popup-page.third-step .inputs-content .inputs-container .input-content.extra-description .frame-border textarea {
  height: 5em;
}
.main .popup-content .popup-page.third-step .inputs-content .send-content {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main .popup-content .popup-page.third-step .inputs-content .send-content .send-button {
  width: 50%;
  padding: 1em;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background: #EDB506;
  border: none;
  border-radius: 10px;
}
.main .popup-content .popup-page.third-step .inputs-content .send-content .send-button:disabled {
  background-color: rgb(80, 80, 80);
}
.main .popup-content .popup-page.hidden {
  display: none;
}
.main .popup-content.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
