.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper {
  width: fit-content;
  height: 250px;
  overflow: hidden;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  display: flex;
  flex-direction: row;
  width: max-content;
  height: 100%;
  margin: 0;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .left-column-profile {
  position: relative;
  height: 100%;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .left-column-profile .profile-picture-content {
  position: relative;
  width: 160px;
  pointer-events: none;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .left-column-profile .profile-picture-content .profile-picture-frame {
  z-index: 1;
  position: absolute;
  width: 125%;
  top: -10px;
  left: -30px;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .left-column-profile .profile-picture-content .profile-picture-frame img {
  width: 100%;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .left-column-profile .profile-picture-content .profile-picture-wrapper {
  z-index: 2;
  position: absolute;
  top: -5px;
  left: -5px;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .left-column-profile .profile-picture-content .profile-picture-wrapper img {
  width: 100%;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .left-column-profile .profile-picture-content .profile-picture-wrapper .chosen-animal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4em;
  height: 4em;
  padding: 0.2em;
  bottom: 0.2em;
  right: 1em;
  border-radius: 100%;
  background: #EDB506;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .left-column-profile .profile-picture-content .profile-picture-wrapper .chosen-animal-content .icon-content {
  width: 60%;
  aspect-ratio: 1;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .left-column-profile .profile-picture-content .profile-picture-wrapper .chosen-animal-content .text-content p {
  margin: 0;
  margin-top: -0.5em;
  color: #202020;
  font-size: 10px;
  font-weight: 500;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .right-column-information {
  width: 230px;
  margin-left: 0.5em;
  height: 100%;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .right-column-information .animal-text-content {
  padding-right: 0.5em;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .right-column-information .animal-text-content .title-wrapper {
  height: 4em;
  margin-top: 0.5em;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .right-column-information .animal-text-content .title-wrapper p {
  font-size: 17px;
  font-weight: 500;
  color: black;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .right-column-information .animal-text-content .description-wrapper {
  height: 5em;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .right-column-information .animal-text-content .description-wrapper p {
  font-size: 14px;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .right-column-information .animal-text-content .comment-wrapper {
  position: relative;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .right-column-information .animal-text-content .comment-wrapper .frame-container .frame-title {
  position: absolute;
  top: -7px;
  left: 12px;
  padding: 0 0.3em 0 0.3em;
  background: white;
  user-select: none;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .right-column-information .animal-text-content .comment-wrapper .frame-container .frame-title p {
  font-weight: 500;
  color: #EDB506;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .right-column-information .animal-text-content .comment-wrapper .frame-container .frame-border {
  padding: 1em 0.7em 0.7em 0.7em;
  border: #EDB506 solid 2px;
  border-radius: 8px;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .right-column-information .animal-text-content .comment-wrapper .frame-container .frame-border p {
  font-size: 14px;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-content-wrapper .leaflet-popup-content .right-column-information .animal-text-content p {
  margin: 0;
}
.leaflet-popup-pane .leaflet-popup .leaflet-popup-tip-container {
  left: 170px;
}

/*# sourceMappingURL=popup.css.map */
