@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$menuFontColor: #CFB57D;

$floatIconStrokeColor: #E9D418;
$floatIconFillColor: #E9D418;
$floatButtonBackground: #202020;

$takePictureFrame: #EDB506;


.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
} 

body {
    min-height: 100vh;
}

.main{
    position: absolute;
    height: 100vh;
    width: 100%;
    max-width: 750px;
    top: 0;
    left: 0;
    overflow: hidden;

    .page-content{
        z-index: 10;
        width: 100%;
        height: 100%;
        position: relative;

        .toolbar-content{
            background-color: #F6C708;
        }
    
        .map-content{
            position: relative;
            height: 100%;
    
            #map {
                z-index: 3;
                height: 100%;

                &.spotlight{
                    z-index: 10;
                }
            }
    
            .controls {
                z-index: 3;
                position: absolute;
                top: 10px;
                left: 10px;
                background: white;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
            }
    
            .buttons-content{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;

                pointer-events: none;
    
                .blur-background{
                    position: absolute;
                    z-index: 5;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
    
                    backdrop-filter: blur(5px);
                    pointer-events: none;
    
                    &.hidden{
                        display: none;
                        pointer-events: all;
                    }

                    &.spotlight{
                        z-index: 11;
                    }
                }
    
                .down-container{
                    position: absolute;
                    width: 100%;
                    bottom: 0;

    
                    .float-buttons-container{
                        position: relative;
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        align-items: end;
                        margin-bottom: 1em;

                        .float-camera-container{
                            z-index: 4;
                            position: absolute;
                            top: 0;
                            left: 1em;

                            .float-camera-content{

                                .float-camera-button{
                                    width: 5em;
                                    aspect-ratio: 1;
                                    padding: .5em;
                                    
                                    background: $floatButtonBackground;
                                    border: none;
                                    border-radius: 100%;
                                    pointer-events: all;
                                    cursor: pointer;

                                    svg{
                                        fill: none;
                                        stroke: $floatIconStrokeColor;
                                        stroke-width: 1.5;

                                    }

                                }
                            }
                        }
    
                        .alt-buttons-container{
                            z-index: 6;
                            position: absolute;
                            width: 300px;
                            height: 185px;
    
                            .alt-button-container{
                                position: absolute;
                                display: flex;
                                flex-direction: column;
                                flex-shrink: 0;
                                align-items: center;
                                width: fit-content;
    
                                transition: .3s;
                                color: $floatButtonBackground;
                                font-weight: 300;
    
                                .alt-button{
                                    width: 4.5em;
                                    aspect-ratio: 1;
                                    padding: .5em;
                                    
                                    background: $floatButtonBackground;
                                    border: none;
                                    border-radius: 100%;
                                    pointer-events: all;
    
                                    svg{
                                        fill: none;
                                        stroke: $floatIconStrokeColor;
                                        stroke-width: 1.5;

                                    }
    
                                }
    
                                span{
                                    margin-top: .5em;
                                }
    
                                &.left-bottom-container{
                                    bottom: 0;
                                    left: 0;
                                    top: auto;
    
                                }
    
                                &.left-top-container{
                                    top: 0;
                                    left: 4em;
                                    bottom: auto;

                                }
    
                                &.right-top-container{
                                    top: 0;
                                    right: 4em;
                                    bottom: auto;
                                    left: 61%;
                                }
    
                                &.right-bottom-container{
                                    bottom: 0;
                                    right: 0;
                                    top: auto;
                                    left: 78%;
                                }

                                &.initial{
                                    top: 100px;
                                    bottom: inherit;
                                    right: inherit;
                                    left: 40%;
                                    transform: scale(0.3);
                                }
    
                            }
                        }
    
    
                        .main-button-container{
                            z-index: 6;
                            flex-shrink: 0;
    
                            .main-button-content{
    
    
                                .menu-main-button{
                                    width: 6em;
                                    aspect-ratio: 1;
                                    padding: 1em;
                                    padding-left: 1.2em;
    
                                    background: $floatButtonBackground;
                                    transition: 1s;
                                    border: none;
                                    border-radius: 100%;

                                    pointer-events: all;
    
                                    svg{
                                        width: 100%;
                                        height: 100%;

                                        transition: .3s;
                                        pointer-events: none;
    
                                        .st0{
                                            fill: $floatIconFillColor;
                                        }

                                        &.onfocus{
                                            z-index: 5;
                                            transform: rotateZ(-23deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .menu-content{
            position: fixed;
            display: flex;
            width: 100%;
            justify-content: center;
            bottom: -180px;
    
            transition: bottom 0.3s ease;
            background:#2F1916;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
    
            .menu-page{
                width: 100%;
                height: 300px;
    
    
                .draggable-indicator-content{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-top: 1em;
    
                    hr{
                        width: 64px;
                        height: 4px;
                        background: gray;
    
                        border: none;
                        border-radius: 5px;
                    }
                }
    
                .options-container{
                    display: flex;
                    flex-direction: column;
                    padding: 1em;
                    margin-top: 1em;
    
                    .option-content{
                        width: 100%;
                        margin-bottom: 1em;
    
                        &:hover{
                            background-color: #CFB57D;
                        }
    
                        .wrapper{
                            display: inline-flex;
                            align-items: center;
    
                            .icon-content{
                                margin-right: 2em;
                                width: 32px;
                                height: 32px;
    
                                svg{
                                    width: 100%;
                                    height: 100%;
    
                                    stroke: $menuFontColor;
                                    fill: none;
                                }
                            }
    
                            .text-content{
                                color: $menuFontColor;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .popup-content{
        display: flex;
        z-index: 99;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        top: 0;
        left: 0;


        .back-button-content{
            z-index: 99;
            position: absolute;
            top: 1em;
            left: 1em;
            .back-button-container{

                .back-button{
                    width: 4.5em;
                    aspect-ratio: 1;

                    background: #ffffff;
                    border: none;
                    border-radius: 100%;
                    cursor: pointer;
                    svg{
                        width: 100%;
                        height: 100%;

                        path{
                            fill: $takePictureFrame;
                        }
                    }
                }
            }
        }

        .popup-page{
            position: absolute;
            width: 100%;
            height: 100%;



            .camera-content{

                .camera-container{
                    position: relative;

                    .video-content{
                        position: relative;
                        display: flex;
                        width: 100%;
                        justify-content: center;

                        .video-frame{
                            position: relative;
                            z-index: 3;
                            display: flex;
                            justify-content: center;
                            width: 120%;
                            max-width: 500px;
                            aspect-ratio: 1;
                            margin-top: 1em;


                            .video-container{
                                position: absolute;
                                z-index: 4;
                                width: 70%;
                                aspect-ratio: 1;
                                top: 1em;
                                
                                border-radius: 50%;
                                overflow: hidden;
        
                                video{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    
    
                                    border-radius: 50%;
                                }
            
                            }
                        }

                    }
                    /*
                    #photo {
                        position: relative;
                        display: inline-block;
                        object-fit: cover;
                        width: 300px;
                        height: 300px;
                        margin-bottom: 10px;

                        border-radius: 50%;
                        overflow: hidden;
                    

                    }
                        */
                }

                &.hidden{
                    display: none;
                }
            }

            .take-picture-content{
                position: absolute;
                display: flex;
                justify-content: center;
                width: 100%;
                bottom: 0;
                
                margin-top: 5em;

                .button-frame{
                    z-index: 1;
                    position: absolute;
                    width: 60%;
                    aspect-ratio: 1;
                    bottom: 0;
                    transform: translate(0, 50%);

                    border-radius: 100%;
                    background-color: $takePictureFrame;


                }

                .take-picture-container{
                    position: relative;
                    z-index: 2;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                    .take-picture-button{
                        position: absolute;
                        width: 40%;
                        aspect-ratio: 1;
                        margin-top: 1em;

                        background: none;
                        border: none;
                        border-radius: 100%;

                        svg{
                            width: 100%;

                            path{
                                fill: #ffffff;
                            }
                        }

                    }
                }

                &.hidden{
                    display: none;
                }
            }

            &.first-step{
                z-index: 10;
            }

            &.second-step{
                display: flex;
                flex-direction: column;
                z-index: 11;
                justify-content: center;
                width: 80%;
                
                .taken-picture-content{

                    padding: .5em;

                    border: solid $floatButtonBackground 3px;
                    border-radius: 100%;

                    .taken-picture-container{
                        width: 100%;
                        aspect-ratio: 1;

                        border-radius: 100%;
                        overflow: hidden;
                        background-color: red;

                        img{
                            position: relative;
                            display: inline-block;
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            margin-bottom: 10px;
                        }
                    }
                }

                .divisor{
                    height: 10em;
                }

                .buttons-content{

                    .buttons-container{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
                        .button-container{
                            width: 100%;
                            
                            .second-step-button{
                                width: 100%;
                                padding: 1em;

                                font-size: 21px;
                                color: #ffffff;
                                font-weight: 500;
                                border: none;
                                border-radius: 10px;
                                
                                &.next-button{
                                    margin-bottom: 1em;

                                    background: $takePictureFrame;
                                }

                                &.try-button{

                                    background: $floatButtonBackground;
                                }
                            }
                        }
                    }
                }

            }

            &.third-step{
                z-index: 12;
            }

            &.hidden{
                display: none;
            }
        }

        &.hidden{
            display: none;
        }
    }


}